@import '../common';

form > div.input__group {
  width: 100%;

  @include md {
    gap: 4rem;
    flex-direction: row;
    align-items: flex-start;
  }

  & > div {
    @include flex(stretch, center, column nowrap);
    gap: 1rem;
  }
}
