{% extends "layout/main.twig" %}

{% block head %}
	<link rel="stylesheet" href="/public/assets/scss/error/error.css">
{% endblock %}

{% block main %}
	<div class="page500">
		<h1>
			<span>E</span>rreur
			<span>S</span>erveur
		</h1>
	</div>
{% endblock %}
