{% extends "layout/main.twig" %}

{% block head %}
	<link rel="stylesheet" href="/public/assets/scss/dish/dish.css">
{% endblock %}

{% block main %}
	<div class="container">
		<h1>{{dish.getName()}}</h1>
		<div class="image__container">
			<img src="{{dish.getImageUrl()}}" alt="">
		</div>
		<p class="description">{{dish.getDescription()}}</p>

		<div class="price__container">
			<strong class="price">{{dish.getPrice()}}
				<span>€</span>
			</strong>
			<form class="add__button__container" method="POST">
				<input value="1" min="1" max="20" type="number" name="quantity">
				<button class="btn">Ajouter</button>
			</form>
		</div>
	</div>
{% endblock %}
