{% extends "layout/main.twig" %}


{% block head %}
	<link rel="stylesheet" href="/public/assets/scss/home/home.css">
{% endblock %}

{% block main %}
	<div class="container">
		<h1 class="brand--text">Ristorante</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet blanditiis voluptas velit at ea. Harum
					eveniet laudantium ducimus itaque dolore ratione non voluptates dolor, saepe provident vel deleniti assumenda
					reprehenderit?
		</p>
		<a class="contact-us" href="/contact">Contactez nous</a>
	</div>
{% endblock %}
