{% extends "layout/main.twig" %}

{% block head %}
	<link rel="stylesheet" href="/public/assets/scss/menu/menu.css">
{% endblock %}

{% block main %}
	<div class="container">
		<ul class="main__list">
			{% for category in categories %}
				<li>
					<h2>
						{{category.getName()}}
					</h2>
					<ul class="inner__list">
						{% for dish in category.getDishes %}
							<li>
								<a href="/menu/plats/{{dish.getId()}}">{{dish.getName()}}
								</a>
							</li>

						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
