@import '../variables';

.main__main {
  padding: 4rem;
  background: lighten($secondary-color, 15%) url('../../images/brick-wall-dark.png');
}

.container {
  @include flex(center, space-between);
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  color: #fff;
  padding: 0;

  .main__list {
    @include flex(stretch, space-between, row wrap);
    column-gap: 2rem;
    row-gap: 6rem;
    width: 100%;

    & > li {
      width: 100%;

      @include sm {
        width: 45%;
      }

      @include lg {
        width: 10rem;
      }
    }
  }
}

h2 {
  font-family: $ristorante-first-letter-ff;
  font-size: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid $main-color;
  width: 100%;
  text-align: center;

  &::first-letter {
    text-transform: uppercase;
  }

  @include lg {
    width: 80%;
  }
}

.inner__list {
  padding-top: 2rem;
  @include flex(stretch, flex-start, column nowrap);
  gap: 2rem;

  li {
    text-align: center;

    @include lg {
      text-align-last: left;
    }
  }

  a {
    font-weight: bold;
    margin-bottom: 0.2rem;
    transition: all 250ms ease;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $main-color;
    }
  }
}
