@import '../variables';

.main__main {
  padding: 0;
  color: $secondary-color;
}

.container {
  @include flex(center, center);
  background: $secondary-color url('/public/assets/images/main-bg.jpg');
  height: 100%;
  padding: 2rem 1rem;
  background-size: cover;
  background-position: top center;

  form {
    @include flex(center, center, column nowrap);
    gap: 2rem;
    padding: 2rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 900px;
    border-radius: 10px;

    @include sm {
      padding: 2rem;
    }

    @include md {
      padding: 4rem;
    }

    & > div {
      @include flex(stretch, center, column nowrap);
      gap: 1rem;
    }

    .input__container {
      @include flex(stretch, center, column nowrap);
      gap: 0.75rem;

      input {
        padding: 0.75rem;
        color: $secondary-color;
      }
    }

    button {
      margin-top: 0;
    }
  }

  a {
    font-size: 1.25rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}
