/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset perso */
a, del, ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label, button {
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input, button {
  outline: 0;
}

@font-face {
  font-family: 'ristorante';
  src: url("../fonts/ristorante/ristorante.eot");
  src: url("../fonts/ristorante/ristorante.eot?#iefix") format("embedded-opentype"), url("../fonts/ristorante/ristorante.woff") format("woff"), url("../fonts/ristorante/ristorante.ttf") format("truetype"), url("../fonts/ristorante/ristorante.svg#ristorante") format("svg");
  font-weight: normal;
  font-style: normal;
}

::-moz-selection {
  background-color: #302d2d;
  color: #ffd000;
}

::selection {
  background-color: #302d2d;
  color: #ffd000;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6rem auto 8rem;
      grid-template-rows: 6rem auto 8rem;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4rem;
  background-color: #302d2d;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.nav ul a {
  color: #ffd000;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.nav ul a.active, .nav ul a:hover {
  -webkit-text-decoration: underline solid #ffd000;
          text-decoration: underline solid #ffd000;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
}

.ristorante-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: #ffd000;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.ristorante-logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.ristorante-logo::before {
  content: '\e903';
  color: white;
  font-size: 1.25rem;
}

.brand--text {
  font-family: "Parisienne", cursive;
  letter-spacing: 1px;
}

.brand--text::first-letter {
  color: #ffd000;
  font-family: "Dancing Script", cursive;
}

label {
  font-size: 1rem;
  font-weight: 600;
}

input,
textarea {
  color: inherit;
  font-family: "Roboto", arial, sans-serif;
  border: 3px solid;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  outline: none;
}

textarea {
  resize: none;
  height: 12rem;
}

a {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

p.error {
  padding: 0.5rem;
  border: 1px solid #790000;
  background-color: rgba(153, 0, 0, 0.25);
  color: #830c0c;
  border-radius: 5px;
}

.main__footer {
  background-color: #302d2d;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.main__footer h3 {
  font-size: 2rem;
  color: white;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  font-size: 1.25rem;
}

.social-icons a {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.social-icons a:hover:before {
  color: #ffe366;
}

[class^='ristorante-']:before,
[class*=' ristorante-']:before {
  font-family: 'ristorante' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ristorante-facebook:before {
  content: '\e900';
  color: #ffd000;
}

.ristorante-twitter:before {
  content: '\e901';
  color: #ffd000;
}

.ristorante-instagram:before {
  content: '\e902';
  color: #ffd000;
}

.page404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #302d2d url("/public/assets/images/main-bg.jpg");
  height: 100%;
  background-size: cover;
  background-position: top center;
}

.page404 h1 {
  font-family: "Parisienne", cursive;
  letter-spacing: 1px;
  font-size: 8rem;
  color: #fff;
}

.page404 h1 span {
  color: #ffd000;
  font-family: "Dancing Script", cursive;
}

button,
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
  background-color: #ffd000;
  padding: 1rem;
  color: #302d2d;
  border: none;
  border-radius: inherit;
  -webkit-box-shadow: 2px 2px 10px rgba(48, 45, 45, 0.75);
          box-shadow: 2px 2px 10px rgba(48, 45, 45, 0.75);
  font-size: 1.25rem;
  font-weight: 600;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

button:hover,
.btn:hover {
  background-color: #ffd933;
}

.container {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem auto;
      grid-template-rows: 10rem auto;
}

.admin__header {
  height: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem auto;
      grid-template-columns: 15rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  background-color: #302d2d;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.admin__header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  gap: 1rem;
}

.admin__header .brand--text {
  font-size: 4rem;
  color: #fff;
}

.admin__header ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.admin__main {
  padding: 4rem;
}

.admin__categories {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.admin__categories .btn__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem 0 2rem auto;
}

table {
  width: 100%;
  text-align: left;
}

table caption {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #302d2d;
  color: #ffd000;
}

table tr {
  border-bottom: 2px solid rgba(48, 45, 45, 0.25);
}

table th {
  background-color: rgba(255, 208, 0, 0.25);
  color: #302d2d;
}

table th,
table td {
  padding: 1rem;
}
/*# sourceMappingURL=admin.css.map */