@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset perso */
a, del, ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label, button {
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input, button {
  outline: 0;
}

@font-face {
  font-family: 'ristorante';
  src: url("/public/assets/fonts/ristorante/ristorante.eot");
  src: url("/public/assets/fonts/ristorante/ristorante.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/ristorante/ristorante.woff") format("woff"), url("/public/assets/fonts/ristorante/ristorante.ttf") format("truetype"), url("/public/assets/fonts/ristorante/ristorante.svg#ristorante") format("svg");
  font-weight: normal;
  font-style: normal;
}

button,
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
  background-color: #ffd000;
  padding: 1rem;
  color: #302d2d;
  border: none;
  border-radius: inherit;
  -webkit-box-shadow: 2px 2px 10px rgba(48, 45, 45, 0.75);
          box-shadow: 2px 2px 10px rgba(48, 45, 45, 0.75);
  font-size: 1.25rem;
  font-weight: 600;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

button:hover,
.btn:hover {
  background-color: #ffd933;
}

.brand__name {
  font-family: "Parisienne", cursive;
  letter-spacing: 1px;
}

.brand__name::first-letter {
  color: #ffd000;
  font-family: "Dancing Script", cursive;
}

[class^='ristorante-']:before,
[class*=' ristorante-']:before {
  font-family: 'ristorante' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ristorante-facebook:before {
  content: "";
  color: #ffd000;
}

.ristorante-twitter:before {
  content: "";
  color: #ffd000;
}

.ristorante-instagram:before {
  content: "";
  color: #ffd000;
}

.ristorante-edit,
.ristorante-trash {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.ristorante-edit:before,
.ristorante-trash:before {
  font-size: 1.75rem;
}

.ristorante-trash {
  cursor: pointer;
}

.ristorante-trash:before {
  content: "";
  color: red;
}

.ristorante-trash:hover:before {
  color: #ff6666;
}

.ristorante-edit {
  cursor: pointer;
}

.ristorante-edit:before {
  content: "";
  color: #313177;
}

.ristorante-edit:hover:before {
  color: #5555b9;
}

.ristorante-fork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ristorante-fork:before {
  content: "";
  color: #ffd000;
}

.ristorante-knife {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ristorante-knife:before {
  content: "";
  color: #ffd000;
}

.ristorante-spoon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ristorante-spoon:before {
  content: "";
  color: #ffd000;
}

::-moz-selection {
  background-color: #302d2d;
  color: #ffd000;
}

::selection {
  background-color: #302d2d;
  color: #ffd000;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6rem auto 10rem;
      grid-template-rows: 6rem auto 10rem;
      grid-template-areas: 'header' 'main' 'footer';
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  background-color: #302d2d;
  position: fixed;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  top: 0;
  right: 0;
  left: 0;
  height: 6rem;
  z-index: 500;
}

@media (min-width: 768px) {
  .main__header {
    padding: 0 4rem;
  }
}

.container {
  padding: 4rem 0;
}

.nav input[type='checkbox'] {
  display: none;
}

.nav input[type='checkbox']:checked ~ ul {
  height: 11rem;
}

.nav input[type='checkbox']:checked + label div:nth-of-type(1) {
  -webkit-transform: rotate(-405deg) translate(-0.4rem, 0.3rem);
          transform: rotate(-405deg) translate(-0.4rem, 0.3rem);
  font-size: 3rem;
}

.nav input[type='checkbox']:checked + label div:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: translateX(100%) translateY(-50%) rotate(90deg);
          transform: translateX(100%) translateY(-50%) rotate(90deg);
}

.nav input[type='checkbox']:checked + label div:nth-of-type(3) {
  -webkit-transform: rotateZ(225deg) rotateX(180deg) translate(0.5rem, -0.5rem);
          transform: rotateZ(225deg) rotateX(180deg) translate(0.5rem, -0.5rem);
  font-size: 3rem;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  top: 6rem;
  background-color: #302d2d;
  z-index: 100;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media (min-width: 768px) {
  .nav ul {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    position: static;
    background-color: transparent;
    height: auto;
    padding: 1rem 0;
  }
}

.nav ul a {
  color: #ffd000;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.nav ul a.active, .nav ul a:hover {
  -webkit-text-decoration: underline solid #ffd000;
          text-decoration: underline solid #ffd000;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4.25rem;
  width: 3rem;
  position: relative;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}

.burger div {
  position: absolute;
  -webkit-transition: all 325ms ease;
  transition: all 325ms ease;
}

.burger div:nth-of-type(1) {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.burger div:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.burger div:nth-of-type(3) {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.ristorante-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: #ffd000;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.ristorante-logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.ristorante-logo::before {
  content: "";
  color: white;
  font-size: 1.25rem;
}

.brand__name {
  font-size: 2rem;
  color: #fff;
}

.main__main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  padding: 4rem;
  background: #575252 url("../images/brick-wall-dark.png");
  color: #fff;
}

.brand--text {
  font-family: "Parisienne", cursive;
  letter-spacing: 1px;
}

.brand--text::first-letter {
  color: #ffd000;
  font-family: "Dancing Script", cursive;
}

label {
  font-size: 1rem;
  font-weight: 600;
}

input,
textarea {
  color: inherit;
  font-family: "Roboto", arial, sans-serif;
  border: 3px solid;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  outline: none;
}

textarea {
  resize: none;
  height: 12rem;
}

a {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

p.error {
  padding: 0.5rem;
  border: 1px solid #790000;
  background-color: rgba(153, 0, 0, 0.25);
  color: #830c0c;
  border-radius: 5px;
}

.main__footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #302d2d;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.main__footer h3 {
  font-size: 2rem;
  color: white;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  font-size: 1.25rem;
}

.social-icons a {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.social-icons a:hover:before {
  color: #ffe366;
}

.cgu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  color: #ffd000;
}

.page404,
.page500 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #302d2d url("/public/assets/images/main-bg.jpg");
  height: 100%;
  background-size: cover;
  background-position: top center;
}

.page404 h1,
.page500 h1 {
  font-family: "Parisienne", cursive;
  letter-spacing: 1px;
  font-size: 8rem;
  color: #fff;
}

.page404 h1 span,
.page500 h1 span {
  color: #ffd000;
  font-family: "Dancing Script", cursive;
}

.btn--danger {
  background-color: #af3c3c;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  color: #fff;
}

.btn--danger:hover {
  background-color: #cc6b6b;
}

.btn--success {
  background-color: #167016;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  color: #fff;
}

.btn--success:hover {
  background-color: #23b023;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 15rem;
  top: -2rem;
  left: 2rem;
  content: attr(data-tooltip);
  position: absolute;
  background-color: #302d2d;
  color: #ffd000;
  padding: 0.5rem;
  border-radius: 5px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

[data-tooltip]:hover:after {
  opacity: 1;
  pointer-events: all;
}

[data-tooltip-left] {
  position: relative;
}

[data-tooltip-left]:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 15rem;
  top: -2rem;
  right: 2rem;
  content: attr(data-tooltip-left);
  position: absolute;
  background-color: #302d2d;
  color: #ffd000;
  padding: 0.5rem;
  border-radius: 5px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

[data-tooltip-left]:hover:after {
  opacity: 1;
  pointer-events: all;
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
  }
}

@keyframes disappear {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
  }
}

#notif {
  position: fixed;
  top: 12.5vh;
  z-index: 1000;
  right: 1rem;
  opacity: 0;
  padding: 0.75rem;
  border-radius: 5px;
  border: 2px solid;
  cursor: default;
  pointer-events: none;
}

#notif.hidden {
  -webkit-animation: disappear 400ms forwards ease;
          animation: disappear 400ms forwards ease;
}

#notif.success {
  background-color: rgba(21, 192, 21, 0.5);
  color: #031f03;
  border-color: #109210;
}

#notif.error {
  background-color: rgba(168, 35, 35, 0.6);
  color: #e99595;
  border-color: #7e1a1a;
}

#notif.visible {
  -webkit-animation: appear 400ms forwards ease;
          animation: appear 400ms forwards ease;
}

button,
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
  background-color: #ffd000;
  padding: 1rem;
  color: #302d2d;
  border: none;
  border-radius: inherit;
  -webkit-box-shadow: 2px 2px 10px rgba(48, 45, 45, 0.75);
          box-shadow: 2px 2px 10px rgba(48, 45, 45, 0.75);
  font-size: 1.25rem;
  font-weight: 600;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

button:hover,
.btn:hover {
  background-color: #ffd933;
}

.brand__name {
  font-family: "Parisienne", cursive;
  letter-spacing: 1px;
}

.brand__name::first-letter {
  color: #ffd000;
  font-family: "Dancing Script", cursive;
}

[class^='ristorante-']:before,
[class*=' ristorante-']:before {
  font-family: 'ristorante' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ristorante-facebook:before {
  content: "";
  color: #ffd000;
}

.ristorante-twitter:before {
  content: "";
  color: #ffd000;
}

.ristorante-instagram:before {
  content: "";
  color: #ffd000;
}

.ristorante-edit,
.ristorante-trash {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.ristorante-edit:before,
.ristorante-trash:before {
  font-size: 1.75rem;
}

.ristorante-trash {
  cursor: pointer;
}

.ristorante-trash:before {
  content: "";
  color: red;
}

.ristorante-trash:hover:before {
  color: #ff6666;
}

.ristorante-edit {
  cursor: pointer;
}

.ristorante-edit:before {
  content: "";
  color: #313177;
}

.ristorante-edit:hover:before {
  color: #5555b9;
}

.ristorante-fork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ristorante-fork:before {
  content: "";
  color: #ffd000;
}

.ristorante-knife {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ristorante-knife:before {
  content: "";
  color: #ffd000;
}

.ristorante-spoon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ristorante-spoon:before {
  content: "";
  color: #ffd000;
}

.container {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem auto;
      grid-template-rows: 10rem auto;
}

.admin__header {
  height: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem auto;
      grid-template-columns: 15rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  background-color: #302d2d;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.admin__header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  gap: 1rem;
}

.admin__header .brand--text {
  font-size: 4rem;
  color: #fff;
}

.admin__header ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.admin__main {
  padding: 4rem;
}

.admin__container {
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.admin__container .btn__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem 0 2rem auto;
}

table {
  width: 100%;
  text-align: left;
}

table caption {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #302d2d;
  color: #ffd000;
}

table tr {
  border-bottom: 2px solid rgba(48, 45, 45, 0.25);
}

table th {
  background-color: rgba(255, 208, 0, 0.25);
  color: #302d2d;
}

table th,
table td {
  padding: 1rem;
}

table td:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
/*# sourceMappingURL=admin.css.map */