@font-face {
  font-family: 'ristorante';
  src: url('../fonts/ristorante/ristorante.eot');
  src: url('../fonts/ristorante/ristorante.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ristorante/ristorante.woff') format('woff'),
    url('../fonts/ristorante/ristorante.ttf') format('truetype'),
    url('../fonts/ristorante/ristorante.svg#ristorante') format('svg');
  font-weight: normal;
  font-style: normal;
}
