$main-color: #ffd000;
$secondary-color: #302d2d;

$heading-ff: 'Alfa Slab One', cursive;
$ristorante-first-letter-ff: 'Dancing Script', cursive;
$parisienne-ff: 'Parisienne', cursive;
$text-ff: 'Roboto', arial, sans-serif;

$icon-fb: '\e900';
$icon-twitter: '\e901';
$icon-instagram: '\e902';
$icon-logo: '\e903';
$icon-trash: '\e904';
$icon-edit: '\e905';
$icon-fork: '\e906';
$icon-knife: '\e907';
$icon-spoon: '\e908';

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// 2K and higher screens
$screen-xxl-min: 1800px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra extra large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

@mixin flex($align: stretch, $justify: flex-start, $flex-flow: row nowrap) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align;
  justify-content: $justify;
}
