@import './reset';
@import './variables';
@import './fonts';
@import './placeholders';
@import './icons';

::selection {
  background-color: $secondary-color;
  color: $main-color;
}

body {
  display: grid;
  grid-template-rows: 6rem auto 8rem;
  grid-template-areas: 'header' 'main' 'footer';
}

.main__header {
  @include flex(center, space-between);
  padding: 0 4rem;
  background-color: $secondary-color;
  position: fixed;
  grid-area: header;
  top: 0;
  right: 0;
  left: 0;
  height: 6rem;
}

.nav {
  ul {
    @include flex(center, center);
    gap: 1rem;

    a {
      color: $main-color;
      transition: all 250ms ease;

      &.active,
      &:hover {
        // color: white;
        text-decoration: underline solid $main-color;
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
      }
    }
  }
}

.brand {
  @include flex(center, center);
  gap: 1rem;
}

.ristorante-logo {
  @include flex(center, center);
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: $main-color;
  transition: all 250ms ease;

  &:hover {
    transform: rotate(360deg);
  }

  &::before {
    content: $icon-logo;
    color: white;
    font-size: 1.25rem;
  }
}

.brand__name {
  @extend %title;
  font-size: 2rem;
  color: #fff;
}

main {
  grid-area: main;
  padding: 4rem;
  background: lighten($secondary-color, 15%) url('../images/brick-wall-dark.png');
  // color: $main-color;
  color: #fff;
}

.brand--text {
  font-family: $parisienne-ff;
  letter-spacing: 1px;

  &::first-letter {
    color: $main-color;
    font-family: $ristorante-first-letter-ff;
  }
}

label {
  font-size: 1rem;
  font-weight: 600;
}

input,
textarea {
  color: inherit;
  font-family: $text-ff;
  border: 3px solid;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  outline: none;
}

textarea {
  resize: none;
  height: 12rem;
}

a {
  transition: all 250ms ease;
}

button,
.btn {
  @extend %btn;
}

p.error {
  padding: 0.5rem;
  border: 1px solid rgb(121, 0, 0);
  background-color: rgba(153, 0, 0, 0.25);
  color: rgb(131, 12, 12);
  border-radius: 5px;
}

.main__footer {
  grid-area: footer;
  background-color: $secondary-color;
  padding: 1rem;
  @include flex(center, center, column nowrap);
  gap: 1rem;

  h3 {
    font-size: 2rem;
    color: white;
  }
}

.social-icons {
  @include flex(center, center);
  gap: 2rem;
  font-size: 1.25rem;

  a {
    transition: all 250ms ease;

    &:hover {
      &:before {
        color: lighten($main-color, 20%);
      }
    }
  }
}

.page404 {
  @include flex(center, center);
  background: $secondary-color url('/public/assets/images/main-bg.jpg');
  height: 100%;
  background-size: cover;
  background-position: top center;

  h1 {
    font-family: $parisienne-ff;
    letter-spacing: 1px;
    font-size: 8rem;
    color: #fff;

    span {
      color: $main-color;
      font-family: $ristorante-first-letter-ff;
    }
  }
}
