@import './reset';
@import './variables';
@import './fonts';
@import './placeholders';
@import './icons';

::selection {
  background-color: $secondary-color;
  color: $main-color;
}

body {
  display: grid;
  grid-template-rows: 6rem auto 10rem;
  grid-template-areas: 'header' 'main' 'footer';
}

.main__header {
  @include flex(center, space-between);
  padding: 0 2rem;
  background-color: $secondary-color;
  position: fixed;
  grid-area: header;
  top: 0;
  right: 0;
  left: 0;
  height: 6rem;
  z-index: 500;

  @include md {
    padding: 0 4rem;
  }
}

.container {
  padding: 4rem 0;
}

@import './burger';

.brand {
  @include flex(center, center);
  gap: 1rem;
}

.ristorante-logo {
  @include flex(center, center);
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: $main-color;
  transition: all 250ms ease;

  &:hover {
    transform: rotate(360deg);
  }

  &::before {
    content: $icon-logo;
    color: white;
    font-size: 1.25rem;
  }
}

.brand__name {
  @extend %title;
  font-size: 2rem;
  color: #fff;
}

.main__main {
  grid-area: main;
  padding: 4rem;
  background: lighten($secondary-color, 15%) url('../images/brick-wall-dark.png');
  // color: $main-color;
  color: #fff;
}

.brand--text {
  font-family: $parisienne-ff;
  letter-spacing: 1px;

  &::first-letter {
    color: $main-color;
    font-family: $ristorante-first-letter-ff;
  }
}

label {
  font-size: 1rem;
  font-weight: 600;
}

input,
textarea {
  color: inherit;
  font-family: $text-ff;
  border: 3px solid;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  outline: none;
}

textarea {
  resize: none;
  height: 12rem;
}

a {
  transition: all 250ms ease;
}

button,
.btn {
  @extend %btn;
}

p.error {
  padding: 0.5rem;
  border: 1px solid rgb(121, 0, 0);
  background-color: rgba(153, 0, 0, 0.25);
  color: rgb(131, 12, 12);
  border-radius: 5px;
}

.main__footer {
  grid-area: footer;
  background-color: $secondary-color;
  padding: 1rem;
  @include flex(center, center, column nowrap);
  gap: 1rem;

  h3 {
    font-size: 2rem;
    color: white;
  }
}

.social-icons {
  @include flex(center, center);
  gap: 2rem;
  font-size: 1.25rem;

  a {
    transition: all 250ms ease;

    &:hover {
      &:before {
        color: lighten($main-color, 20%);
      }
    }
  }
}

.cgu {
  @include flex(center, center);
  gap: 1rem;
  color: $main-color;
}

.page404,
.page500 {
  @include flex(center, center);
  background: $secondary-color url('/public/assets/images/main-bg.jpg');
  height: 100%;
  background-size: cover;
  background-position: top center;

  h1 {
    font-family: $parisienne-ff;
    letter-spacing: 1px;
    font-size: 8rem;
    color: #fff;

    span {
      color: $main-color;
      font-family: $ristorante-first-letter-ff;
    }
  }
}

.btn--danger {
  background-color: rgb(175, 60, 60);
  transition: all 150ms ease;
  color: #fff;

  &:hover {
    background-color: lighten(rgb(175, 60, 60), 15%);
  }
}

.btn--success {
  background-color: rgb(22, 112, 22);
  transition: all 150ms ease;
  color: #fff;

  &:hover {
    background-color: lighten(rgb(22, 112, 22), 15%);
  }
}

[data-tooltip] {
  position: relative;

  &:after {
    @include flex(center, center);
    min-width: 15rem;
    top: -2rem;
    left: 2rem;
    content: attr(data-tooltip);
    position: absolute;
    background-color: $secondary-color;
    color: $main-color;
    padding: 0.5rem;
    border-radius: 5px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
  }

  &:hover {
    &:after {
      opacity: 1;
      pointer-events: all;
    }
  }
}

[data-tooltip-left] {
  position: relative;

  &:after {
    @include flex(center, center);
    min-width: 15rem;
    top: -2rem;
    right: 2rem;
    content: attr(data-tooltip-left);
    position: absolute;
    background-color: $secondary-color;
    color: $main-color;
    padding: 0.5rem;
    border-radius: 5px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
  }

  &:hover {
    &:after {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@keyframes appear {
  from {
    transform: translate(100%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translate(100%);
    opacity: 0;
  }
}

#notif {
  position: fixed;
  top: 12.5vh;
  z-index: 1000;
  right: 1rem;
  opacity: 0;
  padding: 0.75rem;
  border-radius: 5px;
  border: 2px solid;
  cursor: default;
  pointer-events: none;

  &.hidden {
    animation: disappear 400ms forwards ease;
  }

  &.success {
    $color: rgb(21, 192, 21);
    background-color: transparentize($color, 0.5);
    color: darken($color, 35%);
    border-color: darken($color, 10%);
  }

  &.error {
    background-color: transparentize(rgb(168, 35, 35), 0.4);
    color: lighten(rgb(168, 35, 35), 35%);
    border-color: darken(rgb(168, 35, 35), 10%);
  }

  &.visible {
    animation: appear 400ms forwards ease;
  }
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: all 250ms ease;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  & > * {
    @include flex(center, space-between, column nowrap);
    position: absolute;
    padding: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 40em;
    max-width: 900px;
    width: 80%;
    background-color: #fff;
    color: $secondary-color;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }

  > form {
    min-height: 20em;
  }

  h3 {
    font-size: 2em;
  }

  .btn__container {
    @include flex(center, center);
    gap: 2em;

    button {
      border-radius: 10px;
    }
  }
}
