@import '../variables';

.main__main {
  @include flex(center, center, column nowrap);
  padding: 2rem 1rem;

  @include lg {
    padding: 4rem;
  }
}

.content {
  @include flex(stretch, center, column nowrap);
  gap: 4rem;

  @include xl {
    flex-flow: row nowrap;
    gap: 8rem;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 /9;

    @include xl {
      min-height: 50%;
      width: 50%;
    }
  }

  & > * {
    width: 40%;
  }
}

.description {
  font-family: $text-ff;
  width: 100%;

  @include xl {
    width: 50%;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;

    &::first-letter {
      color: $main-color;
    }
  }

  p {
    line-height: 1.75;
    font-weight: 500;
  }
}
