.category, .name {
  font-family: "Parisienne", cursive;
  letter-spacing: 1px;
}

.category::first-letter, .name::first-letter {
  color: #ffd000;
  font-family: "Dancing Script", cursive;
}

.main__main {
  padding: 1rem;
  background: #575252 url("../../images/brick-wall-dark.png");
}

@media (min-width: 992px) {
  .main__main {
    padding: 4em;
  }
}

.container {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  color: #fbfafa;
  padding: 0;
  font-size: 0.6rem;
}

@media (min-width: 992px) {
  .container {
    font-size: 1rem;
  }
}

.category {
  font-size: 5em;
  padding: 1em 0;
  text-transform: capitalize;
}

.dish__container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  place-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  margin: 2em 0;
  background-color: #989191;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

@media (min-width: 768px) {
  .dish__container {
    margin: 1em 0;
    gap: 0;
    -ms-grid-columns: 2fr (1fr)[2];
        grid-template-columns: 2fr repeat(2, 1fr);
  }
}

.dish__container:hover {
  background-color: #b1abab;
}

.dish__name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 768px) {
  .dish__name {
    grid-column: auto;
    justify-self: flex-start;
  }
}

.name {
  font-size: 3em;
}

.image {
  height: 8em;
  width: 8em;
  display: inline-block;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.size {
  font-size: 1.5em;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.price strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}

.price input[type='number'] {
  width: 4em;
  border-color: transparent;
  color: #302d2d;
  padding: 0.75em 1em;
  font-size: 1.1em;
}

.price button {
  font-size: 1em;
  margin-top: 0;
  padding: 0.5em 1.5em;
  border-radius: 5px;
}
/*# sourceMappingURL=order.css.map */