@import '../variables';

main {
  @include flex(center, center, column nowrap);
  padding: 4rem;
}

.content {
  @include flex(stretch, center);
  gap: 8rem;

  iframe {
    height: 50vh;
  }

  & > * {
    width: 40%;
  }
}

.description {
  font-family: $text-ff;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;

    &::first-letter {
      color: $main-color;
    }
  }

  p {
    line-height: 1.75;
    font-weight: 500;
  }
}
